<ul class="list-group">

  <% get_order.each do |c|  %>
      <li class="list-group-item">
        <div class="profile"><%= image_tag(User.find(c.commenter).avatar.url(:small), { class: 'comment-avatar' }) %></div>
        <div class="comment-content">
          <div><%= link_to User.find(c.commenter).name, user_posts_path(c.commenter) %></div>
          <div><%= get_new_content(c.content).html_safe %></div>
        </div>
        <i class="clearfix"></i>
        <ul class="action clearfix nav list-group">
          <li class="comment-date"><%= c.created_at.to_s[0..-10] %></li>
          <li><%= link_to '回复', subcomment_comment_path(c), class: 'sub-comment' %></li>
          <!--<li><%= link_to '顶 ' + c.pluses.count.to_s, plus_comment_path(c), class: 'ding' + get_class(c.pluses, 'al-ding', 'pluser')%></li>-->
          <li data-source="<%= plus_comment_path(post) %>">
            <%= link_to('javascript:void(0);',{ class: 'ding' + get_class(c.pluses, 'al-ding', 'pluser') }) do %>
              <span class="glyphicon glyphicon-arrow-up"></span>
              <span><%= c.pluses.count %></span>
            <% end %>
          </li>
          <% if get_u == User.find(c.commenter) %>
            <li><%= link_to '删除', comment_path(c), class: 'delete delete-comment' %></li>
          <% end %>
        </ul>
      </li>
  <% end %>

</ul>

