<% u = User.find(message.from_id) %>
<li class="list-group-item">
  <div class="actual-action">
    <div>
      <%= link_to u.name, user_posts_path(u) %>
      <%= link_to '删除', messages_user_path(message.user), data: { id: message.id }, class: 'delete-msg' %>
    </div>
    <div class="resource-content"><%= content_for :content_type %></div>
    <div class="actual-content"><%= content_for :content %></div>
    <div class="message-time"><%= message.created_at.to_s[0..-6] %></div>
  </div>
</li>